//@import "~bulma/bulma";
$fa-font-path:   "../node_modules/font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

/* grid layout for page */
body {
  display: grid;
  grid-template-areas: "header header" "side main";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 5em 1fr;
}
body > * {
  padding: 5px;
}
header {
  grid-area: header;
  line-height: 5em;
  display: flex;
}
aside {
  grid-area: side;
}
main {
  grid-area: main;
}
/* styling of station detail */
.station-detail img {
  width: 60%;
}
/* styling of result list */
ul {
  list-style: none;
}
ul li {
  padding: 1.2em;
  line-height: 1.2;
}
ul li:nth-child(2n) {
  background-color: #eee;
}